form{
    width: 500px;
    margin: 20px auto;
    border: 1px solid black;
    padding :20px;
    .man,.woman,.yes,.no{
        margin-left: 50px;
    }
    .btn{
        margin-left:120px;
    }
    a{
        margin-left: 50px;
    }
}